{# app/Resources/views/Default/index.html.twig #}
{% extends 'GoldenBundle:Default:base.html.twig' %} 
{% block title %}
	<h1>First page</h1>
{% endblock %}
{% block content %}
{{name}}
{% endblock %}